<li class="dropdown">
	<a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><i class="fa fa-envelope"></i><span class="badge">1</span></a>
	<ul class="dropdown-menu messages arrow">
		<li class="dd-header">
			<span>You have 1 new message(s)</span>
			<span><a href="#">Mark all Read</a></span>
		</li>
		<div class="scrollthis">
			<li><a href="#" class="active">
				<span class="time">6 mins</span>
				<img src="/assets/demo/avatar/doyle.png" alt="avatar" />
				<div><span class="name">Alan Doyle</span><span class="msg">Please mail me the files by tonight.</span></div>
			</a></li>
			<li><a href="#">
				<span class="time">12 mins</span>
				<img src="/assets/demo/avatar/paton.png" alt="avatar" />
				<div><span class="name">Polly Paton</span><span class="msg">Uploaded all the files to server. Take a look.</span></div>
			</a></li>
			<li><a href="#">
				<span class="time">9 hrs</span>
				<img src="/assets/demo/avatar/corbett.png" alt="avatar" />
				<div><span class="name">Simon Corbett</span><span class="msg">I am signing off for today.</span></div>
			</a></li>
			<li><a href="#">
				<span class="time">2 days</span>
				<img src="/assets/demo/avatar/tennant.png" alt="avatar" />
				<div><span class="name">David Tennant</span><span class="msg">How are you doing?</span></div>
			</a></li>
			<li><a href="#">
				<span class="time">6 mins</span>
				<img src="/assets/demo/avatar/doyle.png" alt="avatar" />
				<div><span class="name">Alan Doyle</span><span class="msg">Please mail me the files by tonight.</span></div>
			</a></li>
			<li><a href="#">
				<span class="time">12 mins</span>
				<img src="/assets/demo/avatar/paton.png" alt="avatar" />
				<div><span class="name">Polly Paton</span><span class="msg">Uploaded all the files to server. Take a look.</span></div>
			</a></li>
		</div>
		<li class="dd-footer"><a href="#">View All Messages</a></li>
	</ul>
</li>