<div id="page-content">
    <div id='wrap'>
		<div id="page-heading">
			{BREADCRUMBS}
		    <h1>Add New Recipe</h1>
		</div>
		{LOG}
		{RECIPE_ENTITY_ERRORS}
        <div class="container">
			<div class="row">
			    <div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-body">
							<form id="wizard" class="form-horizontal" autocomplete="off" action="/recipes/add" method="POST">
								<fieldset title="Step 1">
									<legend>Recipe data</legend>
									<div class="form-group">
										<label for="title" class="col-md-2 control-label">Recipe Title</label>
										<div class="col-md-7">
											<div class="input-group">
												<input value="{RECIPE_TITLE}" id="title" name="title" class="form-control" type="text" autofocus autocomplete="off" data-msg-remote="This recipe title is not valid" data-msg-required="You must provide a title" minlength="4" required />
												<span class="input-group-addon"><span class="fa fa-book"></span></span>
											</div>
										</div>
										<div class="col-sm-3"><p class="help-block">Title must be unique and minimum 5 characters long</p></div>
									</div>
									
						            <div class="form-group">
						                <label class="col-sm-2 control-label">Abstract</label>
						                <div class="col-sm-7">
						                    <textarea class="form-control autosize fullscreen" name="abstract">{RECIPE_ABSTRACT}</textarea>
						                </div>
						                <div class="col-sm-3"><p class="help-block">Write a few short introductionary lines about the recipe</p></div>
									</div>
									
									<div class="form-group">
						                <div class="row">
						                	<label class="col-sm-2 control-label">Ingredients</label>
							                <div class="col-sm-7">
							                    <div id="ingredient-input-container" class="input-group">
							                      <input id="ingredientInputField" autocomplete="off" name="ingredientInputField" type="text" class="form-control" />
							                      <div class="input-group-btn">
							                        <button type="button" id="ingredientInputField-button" class="btn btn-primary">Add</button>
							                      </div>
							                    </div>
							               	</div>
							               	<div class="col-sm-3"><p class="help-block">Ingredients must be in the following format <code>{amount}</code> <code>{unit}</code> <code>{ingredient}</code></p></div>  
										</div>
										
										<div class="row">
											<label class="col-sm-2 control-label"></label>
											<div class="col-sm-7">
											    <div class="tab-container tab-left" id="ingredient-list">
												    <ul class="nav nav-tabs">
												    	<li class="ingr-portions text-center">
												    		<div>Portions</div>
												    		<input name="ingr-portions" type="text" class="dial" data-width="100" data-fgColor="#4F8EDC" data-step="1" data-max="12" data-thickness=".6" data-height="120"/>
												    	</li>
												    </ul>
												    <div class="tab-content" id="ingr-panels">
												    	<div class="tab-pane active">
												    		0 ingredients
											    		</div>
												    	<div class="tab-pane ingr-panel" id="ingredient-panel-template">
															<dl class="dl-horizontal">
																<dt class="tooltips" title="Add a group name if you want to group different recipes together">Group</dt>
																<dd class="form-group">
																	<input 	id="ingr-0-group" 
																			name="ingr[]['group']"
																			type="text"
																			class="form-control ingr-form ingr-group capitalize pull-left"
																			placeholder="Empty"
																			autocomplete="off"
																	/>
																	<span class="ingr-help" data-toggle="tooltip" data-placement="auto right" title="Use this field to create a smaller heading above this specific ingredients. If several ingredients have the same group name, they will share the same heading"><i class="fa fa-info-circle"></i></span>
																</dd>
																<dt class="tooltips" title="Amount can only be numbers, but the field accept decimals such as 1.5 (don't use a comma)">Amount</dt>
																<dd class="form-group">
																	<input 	id="ingr-0-amount" 
																			name="ingr[]['amount']"
																			type="text"
																			class="form-control ingr-form ingr-amount pull-left"
																			placeholder="Empty"
																			autocomplete="off"
																			data-msg-number="Only numbers are allowed"
																	/>
																	<span class="ingr-help" data-toggle="tooltip" data-placement="auto right" title="State the ingredient amount. Use the 'static' checkbox below if the ingredient should not scale. "><i class="fa fa-info-circle"></i></span>
																</dd>
															  
																<dt class="tooltips" title="dl, ss, ts, kg, g....">Unit</dt>
																<dd class="form-group">
																	<input	id="ingr-0-unit"
																			name="ingr[]['unit']"
																			type="text"
																			class="form-control ingr-form ingr-unit validation-ignore pull-left"
																			placeholder="Empty"
																			autocomplete="off"
																	/>
																	<span class="ingr-help" data-toggle="tooltip" data-placement="auto right" title="Use this field to define the unit of the recipe, such as g, kg, dl..."><i class="fa fa-info-circle"></i></span>
																</dd>
															  
																<dt class="tooltips" title="This is the name of the ingredient">Ingredient</dt>
																<dd class="form-group">
																	<input	id="ingr-0-name"
																			name="ingr[]['name']"
																			type="text"
																			class="form-control ingr-form ingr-name validation-ignore pull-left"
																			placeholder="Empty"
																			autocomplete="off"
																			value="a"
																	/>
																	<span class="ingr-help" data-toggle="tooltip" data-placement="auto right" title="Write the ingredient name here"><i class="fa fa-info-circle"></i></span>
																</dd>
															  
																<dt>Static</dt>
																<dd>
																	<input	id="ingr-0-static"
																			name='ingr[]["static"]'
																			value=""
																			class="ingr-static pull-left"
																			type="checkbox"
																	/>
																	<span class="ingr-help pull-right" data-toggle="tooltip" data-placement="auto right" title="A tick in this box will make the ingredient amount always stay the same, regardless of portions selected"><i class="fa fa-info-circle"></i></span>
																</dd>
															  
																<dt>Optional</dt>
																<dd>
																	<input id="ingr-0-optional" name='ingr[]["optional"]' class="ingr-optional pull-left" value="" type="checkbox" />
																	<span class="ingr-help pull-right" data-toggle="tooltip" data-placement="auto right" title="Tick this box to show that the ingredient is optional. This is important when searching for recipes via ingredients."><i class="fa fa-info-circle"></i></span>
																</dd>
																
																<dt>Replaceable</dt>
																<dd>
																	<input id="ingr-0-replaceable" name='ingr[]["replaceable"]' class="ingr-replaceable pull-left" value="" checked="checked" type="checkbox" />
																	<span class="ingr-help pull-right" data-toggle="tooltip" data-placement="auto right" title="A tick in this box will not allow this ingredient to be replaced"><i class="fa fa-info-circle"></i></span>
																</dd>
																															
																<dt>Comments</dt>
																<dd>
																	<textarea id="ingr-0-comments" name='ingr[]["comments"]' class="form-control validation-ignore pull-left" placeholder="Ingredient specific comments goes here..."></textarea>
																</dd>
															</dl>
															<hr />
															<button type="button" class="ingr-delete btn-danger btn btn-xs pull-right">Delete this ingredient</button>
											    		</div>
											    	</div>
											    </div>
											</div>
											<div class="col-sm-3"><p class="help-block">Each ingredient can be modified in detail in this panel.</p></div>   
										</div>                
					                </div>
											                
						            <div class="form-group">
						                <label class="col-sm-2 control-label">Methodology/Explanation</label>
						                <div class="col-sm-7">
						                    <textarea rows="10" class="form-control ckeditor" name="method" id="method">{RECIPE_METHOD}</textarea>
						                </div>
						                <div class="col-sm-3"><p class="help-block">This is where the actual recipe text will go. Remember to include oven temperature,  cooking time and other required details.</p></div>
									</div>
								</fieldset>
								
								<fieldset title="Step 2">
									<legend>Metadata</legend>
									<div class="form-group">
				                        <label class="col-sm-2 control-label">Make recipe private</label>
				                        <div class="col-sm-7 control-label"> <!--  control-label needed for positioning -->
				                            <div class="toggle"></div>
				                        </div>
				                        <div class="col-sm-3">
				                        	<p class="help-block">If switched <code>on</code>, the recipe will only be visible to you</p>
				                        </div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Difficulty Rating</label>
										<div class="col-sm-7" style="padding-top: 10px;">
												<input name="star" type="radio" class="star"/>
												<input name="star" type="radio" class="star"/>
												<input name="star" type="radio" class="star" checked="checked"/>
												<input name="star" type="radio" class="star"/>
												<input name="star" type="radio" class="star"/>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">Estimated time</label>
										<div class="col-sm-7 dial-group">
											<div class="pull-left">
												<div class="text-center">Hours</div>
						                		<input name="hours" type="text" class="dial" data-width="100" data-fgColor="#4F8EDC" data-step="1" data-max="24" data-thickness=".6" data-height="120"/>
						                	</div>
						                	<div class="pull-left">
						                		<div class="text-center">Minutes</div>
												<input name="minutes" type="text" class="dial" data-width="100" data-fgColor="#4F8EDC" data-step="5" data-max="60" data-thickness=".6" data-height="120" required="true" />
											</div>
						                </div>
						                <div class="col-sm-3"><p class="help-block">Scroll with the mouse, pinch your fingers or edit the number directly</p></div>
									</div>
									<div class="form-group">
						                <label class="col-sm-2 control-label">Categories</label>
						                <div class="col-sm-7">
						                    <div class="input-group">
												<input name="categories" type="text" autocomplete="off" class="form-control" id="tokenfield-recipe-categories"  />
												<span class="input-group-addon"><span class="fa fa-tags"></span></span>
						                    </div>
						                </div>
						                 <div class="col-sm-3"><p class="help-block">Separate different categories with a comma, or press enter</p></div>
									</div>
									<div class="form-group">
						                <label class="col-sm-2 control-label">Link to other recipes</label>
						                <div class="col-sm-7">
						                    <div class="input-group">
												<input name="links" type="text" autocomplete="off" class="form-control" id="tokenfield-recipe-links"  />
												<span class="input-group-addon"><span class="fa fa-link"></span></span>
						                    </div>
						                </div>
						                 <div class="col-sm-3"><p class="help-block">Create links to other recipes</p></div>
									</div>
						            <div class="form-group">
						                <label class="col-sm-2 control-label">When is this recipe from?</label>
						                <div class="col-sm-7">
						                    <div class="input-group date datepicker">
						                        <input type="text" class="form-control" value="01/23/2014" autocomplete="off" required/>
						                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						                    </div>
						                </div>
						            </div>
									<div class="form-group">
										<label for="status" class="col-md-2 control-label">Status</label>
										<div class="col-md-7">
											<select class="form-control" name="status" id="status">
												<option selected="selected" value="{RECIPE_STATUS_ID}" disabled="disabled">{RECIPE_STATUS}</option>
												<option value="2">Publish</option>
												<option value="3">Draft</option>
												<option value="4">Hidden</option>
											</select>
										</div>
				                        <div class="col-sm-3">
				                        	<p class="help-block">This field is only accessible to superusers</p>
				                        </div>
									</div>
									<div class="form-group">
										<label for="author_id" class="col-md-2 control-label">Author</label>
										<div class="col-md-7">
											<select class="form-control" disabled="disabled" id="author_id" name="author_id">
												<option selected="selected" value="{RECIPE_AUTHOR_ID}">{RECIPE_AUTHOR_FIRSTNAME} {RECIPE_AUTHOR_LASTNAME}</option>
												<option value="2">Author 2</option>
												<option value="3">Author 3</option>
												<option value="4">Author 4</option>
											</select>
										</div>
				                        <div class="col-sm-3">
				                        	<p class="help-block">This field is only accessible to superusers</p>
				                        </div>
									</div>
						            <div class="form-group">
						                <label class="col-sm-2 control-label">Date added to database</label>
						                <div class="col-sm-7">
						                    <div class="input-group date datepicker">
						                        <input type="text" class="form-control" value="01/23/2014" autocomplete="off" disabled="disabled" required/>
						                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
						                    </div>
						                </div>
				                        <div class="col-sm-3">
				                        	<p class="help-block">This field is only accessible to superusers</p>
				                        </div>
						            </div>
								</fieldset>
								<fieldset title="Step 3">
									<legend>Add Photo</legend>

									<div class="form-group">
										<a id="dropzone" class="dropzone" data-toggle="modal" href="#myModal" >
											<span class="dropzone-inner">
												<h1><i class="fa fa-cloud-upload"></i> Drop files to upload</h1>
												<h4>(or click)</h4>
											</span>
										</a>
									</div>
								</fieldset>
								<input type="submit" id="form_submit" name="saveRecipe" class="finish btn-success btn pull-right" value="Save" />
							</form>
						</div>
					</div>  <!-- wizard -->
			    </div>
			</div> 
		</div> <!-- container -->
	</div> <!--wrap -->
</div> <!-- page-content -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<!-- The file upload form used as target for the file upload widget -->
	<form id="fileupload" action="/recipes/imageupload" method="POST" enctype="multipart/form-data">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">
						<span class="pull-left">Recipe image file upload</span>
						<!-- The loading indicator is shown during file processing -->
						<span class="fileupload-loading pull-left"></span>
					</h4>
					<div class="clearfix"></div>
				</div>
				<div class="modal-body dropzone">
				        <!-- The global progress information -->
				        <div class="fileupload-progress fade">
				            <!-- The global progress bar -->
				            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
				                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
				            </div>
				            <!-- The extended global progress information -->
				            <div class="progress-extended">&nbsp;</div>
				        </div>
					    <!-- The table listing the files available for upload/download -->
					    <table role="presentation" class="table table-striped">
					        <tbody class="files"></tbody>
					    </table>
				</div>
				<div class="modal-footer">
					    <div class="row fileupload-buttonbar">
						        <div class="btn-toolbar pull-left">
						            <!-- The fileinput-button span is used to style the file input field as button -->
						            <span class="btn btn-success fileinput-button">
						                <i class="fa fa-plus"></i>
						                <span>Add files...</span>
						                <input type="file" name="files[]" multiple>
						            </span>
						            <button type="submit" class="btn btn-primary start">
						                <i class="fa fa-upload"></i>
						                <span>Start upload</span>
						            </button>
						            <button type="reset" class="btn btn-warning cancel">
						                <i class="fa fa-ban"></i>
						                <span>Cancel upload</span>
						            </button>
						            <button type="button" class="btn btn-danger delete">
						                <i class="fa fa-trash-o"></i>
						                <span>Delete</span>
						            </button>
						            <input id="fileupload-select-toggler" type="checkbox" class="toggle" /><label for="fileupload-select-toggler">Select All</label>
						            
						        </div>
						        <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
					    </div>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</form>
</div><!-- /.modal -->
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <p class="size">{%=o.formatFileSize(file.size)%}</p>
            {% if (!o.files.error) { %}
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                 aria-valuenow="0">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            {% } %}
        </td>
        <td>
            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start">
                <i class="fa fa-upload"></i>
                <span>Start</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="fa fa-ban"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>

<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
<span class="preview">
    {% if (file.thumbnailUrl) { %}
        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery ><img src="{%=file.thumbnailUrl%}"></a>
    {% } %}
</span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}"
                    {%=file.thumbnailUrl?'data-gallery':''%} >{%=file.name%}</a>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
            <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}">{% if
                (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}
                <i class="fa fa-trash "></i>
                <span>Delete</span>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
            <button class="btn btn-warning cancel">
                <i class="fa fa-ban"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>