<!-- Begin page content -->
<div class="container">
	<div class="jumbotron" style="text-align: center;">
		<h1>Page Not Found</h1>
		<p class="lead">The page you requested could not be found.</p>
		<p>
		  <a class="btn navbar-btn btn-xs btn-primary">Recipes</a>
		  <a class="btn navbar-btn btn-xs btn-primary">Ingredients</a>
		  <a class="btn navbar-btn btn-xs btn-primary">Tags</a>
		  <a class="btn navbar-btn btn-xs btn-primary">Users</a>
		  <a class="btn navbar-btn btn-xs btn-success">Add new recipe</a>
		</p>
	</div>
</div><!--/.container (page content) -->