<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="description" content="">
			<meta name="author" content="">
		
			<title>Noname site</title>
		
			<!-- Bootstrap core CSS -->
			<link href="../rev4/css/bootstrap.min.css" rel="stylesheet">
			<link href="../rev4/css/bootstrap-glyphicons.css" rel="stylesheet">
			<link href="../rev4/css/bootstrap-theme.min.css" rel="stylesheet">
		
			<!-- Custom styles for this template -->
			<link href="../rev4/css/bootstrap-custom.css" rel="stylesheet">
			<link href="../rev4/css/bootstrap-sticky-footer.css" rel="stylesheet">
		</head>
  		<body>
			<!-- Wrap all page content here -->
			<div id="wrap">