<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Avant</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Avant">
    <meta name="author" content="The Red Team">

    <!-- <link href="/assets/less/styles.less" rel="stylesheet/less" media="all"> -->
    <link rel="stylesheet" href="/assets/css/styles.min.css?=113">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
    
    <!-- <script type="text/javascript" src="/assets/js/less.js"></script> -->
</head><body class="focusedform">

<div class="verticalcenter">
	<a href="/"><img src="/assets/img/logo-big.png" alt="Logo" class="brand" /></a>
	{LOG}
	<div class="panel panel-primary">
		<div class="panel-body">
			<h4 class="text-center" style="margin-bottom: 25px;">Log in to get started or <a href="/users/register">Sign Up</a></h4>
				<form id="login-form" class="form-horizontal" style="margin-bottom: 0px !important;">
					<!-- IF GLOBAL_TARGET_URL --><input type="hidden" value="{GLOBAL_TARGET_URL}" name="target_url" /><!-- ENDIF -->
					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user"></i></span>
								<input type="text" class="form-control" name="username" id="username" placeholder="E-mail" data-rule-email="true" data-rule-email="true" required>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock"></i></span>
								<input type="password" class="form-control" name="password" id="password" placeholder="Password" required/>
							</div>
						</div>
					</div>
					<div class="clearfix">
						<div class="pull-right"><input type="checkbox" style="margin-bottom: 20px" disabled name="rememberMe" id="rememberMe"><label class="text-muted" for="rememberMe"> Remember Me</label></div>
					</div>
				</form>
		</div>
		<div class="panel-footer">
			<a href="/users/passwordreset" class="pull-left btn btn-link" style="padding-left:0">Forgot password?</a>
			
			<div class="pull-right">
				<button class="btn btn-default" type="reset" value="Reset" form="login-form" >Reset</button>
				<button class="btn btn-primary" formmethod="post" type="submit" value="Sign In" formaction="/users/login" form="login-form" >Sign In</button>
			</div>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script>!window.jQuery && document.write(unescape('%3Cscript src="/assets/js/jquery-1.10.2.min.js"%3E%3C/script%3E'))</script>
			<!-- Autoloaded scripts -->
			
			<!-- BEGIN js --><script src="{js.PATH}"></script>
			<!-- END js -->
		</div>
	</div>
 </div>
      
</body>
</html>