    <footer role="contentinfo">
        <div class="clearfix">
            <ul class="list-unstyled list-inline pull-left">
                <li>Powered by Ruby &copy; Aleksander Lanes, 2014</li>
                <li>|</li>
                <li>Version 0.0.2b</li>
            </ul>
            <button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
            <ul class="list-unstyled list-inline pull-right">
            	<li><em>Connected from {VISITOR_REMOTE_ADDR}</em></li>
            	<li></li>
            </ul>
        </div>
    </footer>

</div> <!-- page-container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script>!window.jQuery && document.write(unescape('%3Cscript src="/assets/js/jquery-1.10.2.min.js"%3E%3C/script%3E'))</script>
<script type="text/javascript">!window.jQuery.ui && document.write(unescape('%3Cscript src="/assets/js/jqueryui-1.10.3.min.js'))</script>

<!-- Autoloaded scripts -->
<!-- BEGIN js -->
<script type='text/javascript' src="{js.PATH}"></script><!-- END js -->

</body>
</html>