<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse large-icons-nav" id="horizontal-navbar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="layout-horizontal.htm"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li><a href="index.htm"><i class="fa fa-columns"></i> <span>Layout</span></a></li>
            <li><a href="index.htm"><i class="fa fa-group"></i> <span>Members</span></a></li>
            <li><a href="index.htm"><i class="fa fa-pencil"></i> <span>Components</span></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle='dropdown'><i class="fa fa-cog"></i> <span>Settings <i class="fa fa-angle-down"></i></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Menu Item 1</a></li>
                    <li><a href="#">Menu Item 2</a></li>
                    <li><a href="#">Menu Item 3</a></li>
                    <li><a href="#">Menu Item 4</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>