   <!-- SIDEBAR -->
   <nav id="page-leftbar" role="navigation">
           <!-- SIDEBAR MENU -->
       <ul class="acc-menu" id="sidebar">
           <li id="search">
               <a href="javascript:;"><i class="fa fa-search opacity-control"></i></a>
                <form>
                   <input type="text" class="search-query" placeholder="Search...">
                   <button type="submit"><i class="fa fa-search"></i></button>
               </form>
           </li>
           <li class="divider"></li>
           <li><a href="/"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
           <li><a href="javascript:;"><i class="fa fa-th"></i> <span>Recipes</span> </a>
               <ul class="acc-menu">
                   <li><a href="/recipes/add"><span>Add New Recipe</span></a></li>
                   <li><a href="/recipes/managemyrecipes"><span>My Recipes</span></a></li>
                   <li><a href="/recipes/managemyrecipes"><span>My Recipes</span></a></li>
               </ul>
           </li>
           <li class="divider"></li>
           <li><a href="javascript:;"><i class="fa fa-th"></i> <span>Development</span> </a>
               <ul class="acc-menu">
               		<li><a href="/dev"><span>Dev menu</span></a></li>
                   <li><a href="/dev/rbac/roles"><span>Add RBAC role</span></a></li>
                   <li><a href="/dev/rbac/permissions"><span>Add RBAC permission</span></a></li>
                   <li><a href="/dev/rbac/Resetrbactorubysettings"><span>Reset RBAC</span></a></li>
               </ul>
           </li>
       </ul>
   </nav><!-- SIDEBAR MENU -->