<div id="page-content">
	<div id='wrap'>
		<div id="page-heading">
			<ol class="breadcrumb">
				<li><a href="/">Dashboard</a></li>
				<li><a href="/">{page_we_are_going_back_to}</a></li>
				<li class="active">{current_page}</li>
			</ol>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
		
					<div class="alert alert-success text-center">
						<h1>Command was sucessful</h1>
						<hr/>
						<p class="lead">You will be automatically redirected in <strong><span id="redirectCountdow">4</span></strong> seconds</p>
						<p>If you are not, you can return to your previous page by clicking <a href="#">here</a>.</p>
					</div>
					<div class="well">
						{LOG}
					</div>
				</div>
			</div>
		</div> <!-- container -->
	</div> <!--wrap -->
</div> <!-- page-content -->